:root{
	--p_op:0;
}
html{
	height:100%;
}
body{
	-webkit-perspective: 1000px;
	margin:0;
	height:100%;
	transition:15s;
}
div{
	background:none;
	height:200px;
	width:200px;
	border:solid 20px #000;
	box-sizing:border-box;
	position:fixed;
	opacity:0.3;
	transition:0.1s;
	transition-timing-function: linear;
	left:calc(50% - 100px);
	top:calc(50% - 100px);
}
#front{
	transform:rotateY(180deg) translateZ(-100px);
}
#back{
	transform:rotateY(0deg) translateZ(-100px);
}
#left{
	transform:rotateY(90deg) translateZ(-100px);
}
#right{
	transform:rotateY(-90deg) translateZ(-100px);
}
#top{
	transform:rotateX(-90deg) translateZ(-100px);
}
#bottom{
	transform:rotateX(90deg) translateZ(-100px);
}
#text{
	opacity:var(--p_op)!important;
	position:fixed;
	top:calc(50% - 30px);
	left:calc(50% - 80px);
	transition:transform 0.1s,opacity 15s;
	transition-timing-function:linear;
}
body:active{
	background:#ff0;
/* 	color:#f0f; */
	--p_op:0.5;
	-webkit-perspective: 200px;
}