:root {
	--num: 500;
}
#C1 {
	stroke: #DDD;
	stroke-dasharray: 1194;
	transition: 0.99s linear;
	fill: none;
}

#C2 {
	stroke: #CCC;
	stroke-dasharray: 1069;
	transition: 1s;
	fill: none;
}

#C3 {
	stroke: #BBB;
	stroke-dasharray: 942.5;
	transition: 1s;
	fill: none;
}

#X {
	stroke: #1116;
	stroke-width: 8;
	stroke-dasharray: 0 20;
    stroke-dashoffset: 10;
	stroke-linecap: round;
}

#WT {
	fill: #FFF;
}

#CK {
	stroke: #666;
	stroke-width: 5;
	fill: none;
	display: none;
}
circle.dynamic { 
	stroke-width: 14px;
	stroke-linecap: round;
}
#CK_ID {
	stroke: #8886;
	stroke-width: 8;
	stroke-linecap: round;
	/* stroke-dashoffset: 1068.142; */
	stroke-dasharray: 0 44.506;
	/* 	stroke-dasharray: 5 94.5; */
	fill: none;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	margin: -30px auto;
	/* width: 100%; */
	/* margin-top: -30px; */
	/* max-width: 80px; */
}

p {
	position: fixed;
	/* font-family: 'Times New Roman'; */
	margin: 3px;
	color: #5C5C5C;
}

p#time {
	font-size: 32px;
	margin-bottom: 35px;
}

p#date {
	font-size: 14px;
	margin-top: 35px;
}

svg {
	position: fixed;
	z-index: -1;
	margin: 0 auto;
}